<?xml version="1.0" encoding='UTF-8'?><root>
<gpick type="dynv">
<generate_scheme type="dynv">
</generate_scheme>
<layout_preview type="dynv">
<css_selectors type="dynv">
<assignments type="dynv">
<menu_b type="dynv">
<color type="color">0.7 0.7 0.7 0</color>
</menu_b>
<navitem_b type="dynv">
<color type="color">0.3 0.3 0.3 0</color>
</navitem_b>
<navitem_bh type="dynv">
<color type="color">0.3 0.3 0.3 0</color>
</navitem_bh>
<navitem_t type="dynv">
<color type="color">0.8 0.8 0.8 0</color>
</navitem_t>
<navitem_th type="dynv">
<color type="color">0.8 0.8 0.8 0</color>
</navitem_th>
</assignments>
</css_selectors>
<layout_name type="string">std_layout_menu_1</layout_name>
</layout_preview>
<main type="dynv">
<color_source type="string">color_picker</color_source>
<paned_position type="int32">441</paned_position>
<secondary_color_source type="string"></secondary_color_source>
<vertical_paned_position type="int32">0</vertical_paned_position>
<window type="dynv">
<height type="int32">677</height>
<width type="int32">1347</width>
<x type="int32">423</x>
<y type="int32">1821</y>
</window>
</main>
<picker type="dynv">
<contrast type="dynv">
<color type="color">1 1 1 0</color>
</contrast>
<expander type="dynv">
<cmyk type="bool">false</cmyk>
<hsl type="bool">false</hsl>
<hsv type="bool">false</hsv>
<info type="bool">false</info>
<lab type="bool">false</lab>
<lch type="bool">false</lch>
<rgb type="bool">false</rgb>
<settings type="bool">false</settings>
</expander>
<sampler type="dynv">
<falloff type="int32">0</falloff>
<oversample type="int32">0</oversample>
</sampler>
<swatch type="dynv">
<active_color type="int32">1</active_color>
<color1 type="color">0.137255 0.160784 0.211765 4.59149e-41</color1>
<color2 type="color">0.121569 0.141176 0.188235 4.59149e-41</color2>
<color3 type="color">0.137255 0.160784 0.211765 4.59149e-41</color3>
<color4 type="color">0.137255 0.160784 0.211765 4.59149e-41</color4>
<color5 type="color">1 0.768627 0.301961 4.59149e-41</color5>
<color6 type="color">1 0.8 0.4 4.59149e-41</color6>
</swatch>
<zoom type="float">20</zoom>
<zoom_size type="int32">150</zoom_size>
</picker>
<recent type="dynv">
</recent>
</gpick>
</root>
